.gradient-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #f0f0ed, #ffe83d, #a333ff);
    z-index: -1;
  }

  @keyframes gradientAnimation {
    0%, 100% {
      background: linear-gradient(45deg, #f0f0ed, #ffe83d, #a333ff);
    }
    25% {
      background: linear-gradient(45deg,  #ffe83d, #a333ff, #f0f0ed);
    }
    50% {
      background: linear-gradient(45deg, #a333ff, #f0f0ed, #ffe83d);
    }
    75% {
      background: linear-gradient(45deg ,#f0f0ed, #ffe83d, #a333ff);
    }
  }